### Trabajo Infantil

Los datos se obtuvieron de la página https://www.inegi.org.mx/programas/enti/2019/#Tabulados el día 20 de Abril del 2022.

In [62]:
#Importando librerias necesarias
import pandas as pd
import pathlib

#Todo lo relacionado a graficar
import plotly.express as px

In [63]:
#Definiendo el Path del archivo
path = pathlib.Path('..', 'data/raw/ENTI2019_Tabulados_Estatales.xlsx')

In [64]:
#Leyendo los datos
data_trabajo =  pd.read_excel('../data/raw/personas_desaparecidas/enti_2019_tabulados_bas_xlsx/ENTI2019_Tabulados_Estatales.xlsx',
                                sheet_name='Cuadro 4.8', header=6)

In [65]:
data_trabajo

,Entidad federativa,Población de \n5 a 17 años\nen trabajo infantil,Unnamed: 2,Sexo,Unnamed: 4
0,NaN,NaN,NaN,Hombres,Mujeres
1,NaN,NaN,NaN,NaN,NaN
2,Nacional,3269395.0,NaN,1997204,1272191
3,NaN,NaN,NaN,NaN,NaN
4,Aguascalientes,41373.0,NaN,24522,16851
5,Baja California,45711.0,NaN,32011,13700
6,Baja California Sur,15485.0,NaN,8293,7192
7,Campeche,24892.0,NaN,16149,8743
8,Coahuila de Zaragoza,49242.0,NaN,34793,14449
9,Colima,23166.0,NaN,16392,6774
10,Chiapas,273284.0,NaN,154930,118354
11,Chihuahua,84562.0,NaN,58380,26182
12,Ciudad de México,80520.0,NaN,45298,35222
13,Durango,47211.0,NaN,32538,14673
14,Guanajuato,194634.0,NaN,129686,64948
15,Guerrero,81747.0,NaN,44670,37077
16,Hidalgo,57103.0,NaN,31509,25594
17,Jalisco,181902.0,NaN,103053,78849
18,México,387594.0,NaN,244478,143116
19,Michoacán de Ocampo,193435.0,NaN,122432,71003
20,Morelos,45524.0,NaN,25577,19947
21,Nayarit,41840.0,NaN,24857,16983
22,Nuevo León,68144.0,NaN,36109,32035
23,Oaxaca,222218.0,NaN,129657,92561
24,Puebla,282675.0,NaN,181273,101402
25,Querétaro,38341.0,NaN,26121,12220
26,Quintana Roo,40297.0,NaN,24343,15954
27,San Luis Potosí,94689.0,NaN,51923,42766
28,Sinaloa,63874.0,NaN,42030,21844
29,Sonora,68749.0,NaN,44317,24432
30,Tabasco,74471.0,NaN,42375,32096
31,Tamaulipas,58651.0,NaN,37571,21080
32,Tlaxcala,44867.0,NaN,26557,18310
33,Veracruz de Ignacio de la Llave,237377.0,NaN,143986,93391
34,Yucatán,55207.0,NaN,29349,25858
35,Zacatecas,50610.0,NaN,32025,18585
36,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN
38,Las estimaciones que aparecen en este cuadro e...,NaN,NaN,NaN,NaN
39,Nivel de precisión de las estimaciones:,NaN,NaN,NaN,NaN
40,"Alta, CV en el rango de (0,15)",NaN,NaN,NaN,NaN
41,"Moderada, CV en el rango de [15, 30)",NaN,NaN,NaN,NaN
42,"Baja, CV de 30% en adelante",NaN,NaN,NaN,NaN

In [66]:
data_trabajo.columns

Index(['Entidad federativa', 'Población de \n5 a 17 años\nen trabajo infantil',
       'Unnamed: 2', 'Sexo', 'Unnamed: 4'],
      dtype='object')

In [67]:
data_trabajo = data_trabajo.rename({'Población de \n5 a 17 años\nen trabajo infantil': 'poblacion_total_trabajando',
                        'Sexo': 'hombres',
                        'Unnamed: 4': 'mujeres'},axis= 1)
data_trabajo.head()

  Entidad federativa  poblacion_total_trabajando  Unnamed: 2  hombres  mujeres
0                NaN                         NaN         NaN  Hombres  Mujeres
1                NaN                         NaN         NaN      NaN      NaN
2           Nacional                   3269395.0         NaN  1997204  1272191
3                NaN                         NaN         NaN      NaN      NaN
4     Aguascalientes                     41373.0         NaN    24522    16851

In [68]:
data_trabajo.drop('Unnamed: 2', axis=1,inplace=True)

In [69]:
#Podemos remover las primeras dos filas 
data_trabajo.drop([0,1],axis=0,inplace=True)

In [84]:
trabajo_por_sexo = data_trabajo[data_trabajo['Entidad federativa'] == 'Sonora'].copy()
trabajo_por_sexo.to_csv('trabajo_infantil_por_sexo')

In [71]:
data_trabajo_2 =  pd.read_excel('../data/raw/personas_desaparecidas/enti_2019_tabulados_bas_xlsx/ENTI2019_Tabulados_Estatales.xlsx',
                                sheet_name='Cuadro 4.13', header=6)

In [72]:
data_trabajo_2.columns

Index(['Entidad federativa',
       'Población de \n5 a 17 años\nen ocupación\nno permitida ', 'Unnamed: 2',
       'Sector de actividad económica', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

In [73]:
data_trabajo_2 = data_trabajo_2.rename({'Población de \n5 a 17 años\nen ocupación\nno permitida ': 'poblacion_total_trabajando',
                        'Sector de actividad económica': 'sector_primario',
                        'Unnamed: 4': 'sector_secundario',
                        'Unnamed: 5': 'sector_terciario',
                        'Unnamed: 6':'no_especificado'},axis= 1)
data_trabajo_2.head()

,Entidad federativa,poblacion_total_trabajando,Unnamed: 2,sector_primario,sector_secundario,sector_terciario,no_especificado
0,NaN,NaN,NaN,Primario,Secundario,Terciario,No especificado
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nacional,2017737.0,NaN,589248,369171,964711,94607
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aguascalientes,27996.0,NaN,1592,6702,13611,6091

In [74]:
data_trabajo_2.drop('Unnamed: 2', axis=1,inplace=True)

In [75]:
data_trabajo_2.drop([0,1],axis=0,inplace=True)

In [85]:
trabajo_infantil_por_sector = data_trabajo_2[data_trabajo_2['Entidad federativa'] == 'Sonora'].copy()
trabajo_infantil_por_sector.to_csv('trabajo_infantil_por_sector')

In [77]:
data_trabajo_3 =  pd.read_excel('../data/raw/personas_desaparecidas/enti_2019_tabulados_bas_xlsx/ENTI2019_Tabulados_Estatales.xlsx',
                                sheet_name='Cuadro 4.14', header=6)

In [78]:
data_trabajo_3.columns

Index(['Entidad federativa',
       'Población de \n5 a 17 años\nen ocupación\nno permitida ', 'Unnamed: 2',
       'Duración de la jornada de trabajo habitual', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [79]:
data_trabajo_3.head()

,Entidad federativa,Población de \n5 a 17 años\nen ocupación\nno permitida,Unnamed: 2,Duración de la jornada de trabajo habitual,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,Hasta 14 horas,Más de \n14 hasta 36 horas,Más de 36 horas,No tiene horario regular de trabajo,No especificado
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nacional,2017737.0,NaN,875663,534820,587572,0,19682
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aguascalientes,27996.0,NaN,9845,8634,9517,0,0

In [80]:
data_trabajo_3 = data_trabajo_3.rename({'Población de \n5 a 17 años\nen ocupación\nno permitida ': 'poblacion_total_trabajando',
                        'Duración de la jornada de trabajo habitual': 'hasta_14_horas',
                        'Unnamed: 4': 'de_14_a_36_horas',
                        'Unnamed: 5': 'mas_de_36_horas',
                        'Unnamed: 6':'no_tiene_horario_regular',
                        'Unnamed: 7':'No especificado'},axis= 1)
data_trabajo_3.head()

,Entidad federativa,poblacion_total_trabajando,Unnamed: 2,hasta_14_horas,de_14_a_36_horas,mas_de_36_horas,no_tiene_horario_regular,No especificado
0,NaN,NaN,NaN,Hasta 14 horas,Más de \n14 hasta 36 horas,Más de 36 horas,No tiene horario regular de trabajo,No especificado
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nacional,2017737.0,NaN,875663,534820,587572,0,19682
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aguascalientes,27996.0,NaN,9845,8634,9517,0,0

In [81]:
data_trabajo_3.drop('Unnamed: 2', axis=1,inplace=True)

In [86]:
trabajo_infantil_por_sexo = data_trabajo_3[data_trabajo_3['Entidad federativa'] == 'Sonora'].copy()
trabajo_infantil_por_sexo.to_csv('trabajo_infantil_por_jornada')